html, body {
    margin: 0;
    padding: 0;
  }  
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(250px, 1fr) 5fr;
}

.header{
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
}
.sidebar{
    background-color: rgb(54, 165, 255);
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    letter-spacing: 2px;
}
.sidebar h1{
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 60px;
}
.sidebar ul{
    margin-bottom: 60px;
}
.sidebar ul li{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.content{
    background-color: lightgray;
    grid-area: 2 / 2 / 3 / 3;
    display:grid;
    grid-template-columns: 75% 25%;
}
.content-projects{
    display:grid;
}
.content-side{
    display:grid;
}
